<footer class="footer">
  @if (authService.isLoggedIn()) {
    <section class="relative py-4 services pt-10" id="services">
      <div class="absolute top-0 right-0 size-16 pointer-events-auto">
        <app-update-labels-button (labelsUpdatedEvent)="updateLabels($event)" [input]="data"
                                  [pageId]="pageId"></app-update-labels-button>
      </div>
    </section>
  }
  <div class="max-w-[120rem] mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-5 gap-8 mb-8">
      <div class="flex flex-col items-center">
        <img alt="Grupo Mirandas" class="logo-img mb-4 brightness-0 invert" src="assets/logo.png">
        <p class="text-gray-400">{{ data.subtitle }}</p>
      </div>

      <div class="flex flex-col items-center">
        <h3 class="text-xl font-bold mb-4">{{ data.label1 }}</h3>
        <p class="mb-2">
          <i class="fas fa-phone mr-2 text-primary icon"></i>
          {{ data.telephone1 }}
        </p>
        <p class="mb-2">
          <i class="fas fa-envelope mr-2 text-primary icon"></i>
          {{ data.email1 }}
        </p>
      </div>
      <div class="flex flex-col items-center">
        <h3 class="text-xl font-bold mb-4">{{ data.label2 }}</h3>
        <h2 class="text-xl mb-4">{{ data.pessoa2 }}</h2>
        <p class="mb-2">
          <i class="fas fa-phone mr-2 text-primary icon"></i>
          {{ data.telephone2 }}
        </p>
        <p class="mb-2">
          <i class="fas fa-envelope mr-2 text-primary icon"></i>
          {{ data.email2 }}
        </p>
      </div>
      <div class="flex flex-col items-center">
        <h3 class="text-xl font-bold mb-4">{{ data.label3 }}</h3>
        <h2 class="text-xl mb-4">{{ data.pessoa3 }}</h2>
        <p class="mb-2">
          <i class="fas fa-phone mr-2 text-primary icon"></i>
          {{ data.telephone3 }}
        </p>
        <p class="mb-2">
          <i class="fas fa-envelope mr-2 text-primary icon"></i>
          {{ data.email3 }}
        </p>
      </div>
      <div class="flex flex-col items-center md:-mt-7">
        <h3 class="text-xl font-bold mb-4 text-center">{{ data.label4 }}</h3>
        <h2 class="text-xl mb-4">{{ data.pessoa4 }}</h2>
        <p class="mb-2">
          <i class="fas fa-phone mr-2 text-primary icon"></i>
          {{ data.telephone4 }}
        </p>
        <p class="mb-2">
          <i class="fas fa-envelope mr-2 text-primary icon"></i>
          {{ data.email4 }}
        </p>
      </div>
      <!--<div class="flex flex-col items-center">
          <h3 class="text-xl font-bold mb-4">Siga-nos</h3>
          <div class="flex gap-4 justify-center">
          <a href="https://www.linkedin.com/company/grupo-mirandas" class="footer-link text-2xl">
              <i class="fab fa-facebook"></i>
          </a>
          <a href="https://www.linkedin.com/company/grupo-mirandas" class="footer-link text-2xl">
              <i class="fab fa-instagram"></i>
          </a>
          <a href="https://www.linkedin.com/company/grupo-mirandas" class="footer-link text-2xl">
              <i class="fab fa-linkedin"></i>
          </a>
          </div>
      </div>-->
    </div>

    <div class="border-t border-gray-700 pt-6 text-center text-gray-400">
      <p>&copy; 2026 Grupo Mirandas. Todos os direitos reservados.</p>
    </div>
  </div>
</footer>
<div class="bg-white flex justify-evenly w-full p-12 gap-20 flex-wrap text-2xl font-bold">
  <div class="flex flex-col justify-center ">
    <img class="w-150 object-contain" src="assets/home/cert/logo-01.png">
    <span class="text-center pt-6">IMPIC n.° 83641-PUB</span>
  </div>
  <div class="flex flex-col justify-center">
    <img class="w-150 object-contain" src="assets/home/cert/Novo-Logo-Site-2.webp">
    <span class="text-center pt-6">AICCOPN n.° 21797</span>
  </div>
</div>
