/* ===== MODAL THUMBNAIL SCROLLBAR (GLOBAL) ===== */

.modal-thumb-scroll {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: rgba(255, 255, 255, 0.6) rgba(0, 0, 0, 0.1);
}

.shadow:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 10px var(--shadow-hover);
  cursor: pointer;
}

.shadow-description {
  box-shadow: 0 2px 10px var(--shadow-hover);
  cursor: pointer;
}
