<div
  (click)="openModal()"
  class="group w-48 h-12 flex items-center justify-center gap-2
         rounded-full cursor-pointer z-50
         bg-green-600 border border-green-700
         text-white font-medium
         transition-all duration-200
         hover:bg-green-700 hover:border-green-800
         hover:scale-105 active:scale-95"
>
  <i class="fa-solid fa-pen text-lg"></i>
  <span class="text-sm">Editar Projeto</span>
</div>
@if (showModal) {
  <app-update-project-detail-modal (close)="closeModal()" (newProjectInfo)="update($event)"
                                   [projectCard]="projectCard"></app-update-project-detail-modal>
}
