.projects {
  background: var(--bg-light);
}

.project {
  background: var(--primary-color);

  :hover {
    background: var(--hover-color);
  }

  :focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--shadow-hover);
  }
}

.project-btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px var(--shadow-hover);
}
