<div
  (click)="openModal()"
  class="relative flex h-48 w-64 max-w-md cursor-pointer items-center justify-center rounded-xl border-2 border-dashed bg-white transition hover:scale-[1.02]"
  style="border-color: var(--primary-color); color: var(--primary-color);"
>
  <div class="flex flex-col items-center">
    <i class="fa-solid fa-plus text-4xl mb-2"></i>
    <span class="text-sm font-medium">Add New Project</span>
  </div>
</div>
@if (showModal) {
  <app-create-client-modal (close)="closeModal()" (newProjectInfo)="createClient($event)"></app-create-client-modal>
}
