<!-- Backdrop -->
<div (click)="close.emit()" class="fixed inset-0 bg-black/50 flex items-center justify-center z-50">

  <!-- Modal -->
  <div class="bg-white w-full max-w-lg rounded-xl p-6 relative">

    <!-- Close -->
    <button
      class="absolute top-3 right-3 text-gray-500 hover:text-black"
      (click)="close.emit()">
      ✕
    </button>

    <h2 class="text-xl font-semibold mb-4">Add New Project</h2>

    <form [formGroup]="form" class="space-y-3">

      <input
        type="text"
        placeholder="Title"
        formControlName="title"
        class="w-full border rounded px-3 py-2" />

      <input
        type="text"
        placeholder="Subtitle"
        formControlName="subtitle"
        class="w-full border rounded px-3 py-2" />

      <textarea
        rows="4"
        placeholder="Description"
        formControlName="description"
        class="w-full border rounded px-3 py-2">
      </textarea>

      <!-- Image upload -->
      <input
        type="file"
        multiple
        (change)="onFileSelect($event)"
        class="w-full" />

      <!-- Image previews -->
     <div class="flex flex-wrap gap-3 mt-3">
      <div
        *ngFor="let img of images; let i = index"
        class="relative w-20 h-20 border rounded overflow-hidden">

        <img
          [src]="img.url"
          alt=""
          class="w-full h-full object-cover" />

        <button
          type="button"
          class="absolute top-1 right-1 bg-black/60 text-white rounded-full w-5 h-5 text-xs"
          (click)="removeImage(i)">
          ✕
        </button>
      </div>
    </div>

      <!-- Submit -->
      <button
        type="button"
        class="w-full mt-4 py-2 rounded text-white disabled:opacity-50"
        [disabled]="form.invalid"
        style="background-color: var(--primary-color);"
        (click)="submit()">
        Save Project
      </button>

    </form>
  </div>
</div>
