<home-banner-component [data]="homeData.homeBanner"></home-banner-component>
<about-us-component [data]="homeData.aboutUs"></about-us-component>
<fade-light-to-dark-component></fade-light-to-dark-component>
<services-component [data]="homeData.services"></services-component>
<fade-dark-to-light-component></fade-dark-to-light-component>
<projects-preview-component [data]="homeData.projects"></projects-preview-component>
<fade-light-to-dark-component [endColor]="'var(--primary-color)'"></fade-light-to-dark-component>
<!--TODO: remove this at the end-->
<contact-us-component [data]="homeData.contactUs"></contact-us-component>
<footer-component [data]="homeData.contacts"></footer-component>


