/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";


:root {
  --primary-color: #87C33D; /* blue-600 #87C33D a4ca3a*/ 
  --secondary-color: #64748b; /* slate-500 */
  --accent-color: #87C33D; /* amber-500 */
  --background-color: #ed07f5; /* white */
  --text-color: #1f2937; /* gray-800 */
  --navbar-bg: #ffffff; /* gray-800 */
  --navbar-text: #333030; /* black */
  --hover-color: #546e0a;
  --shadow: #637a2428;
  --shadow-hover: #87C33Da1;
  --dark-shadow:#000000;
  /*--bg-light: #fdfffd;*/
  --bg-light: #ffffff;
  --bg-dark: #dddddd;/*dddddd black */
  --fade-padding:30px;
  --footer-bg: #2C2C2C;
}

/* Global background */
body {
  background-color: var(--background-color);
}
