<section id="home" class="relative">
  
  <div class="image-background absolute max-w-full inset-0 -z-10">
    <img class="absolute inset-0 w-full h-full object-cover"
         alt="HomePage image"
         src="{{data.image}}">
    <!-- Overlay -->
    <div class="image-gradient absolute inset-0"></div>
  </div>
  <div class="hero-gradient text-white py-20">
     @if(authService.isLoggedIn()) {
        <section class="relative py-4 services pt-10" id="services" >
            <div class="absolute top-0 right-0 size-16 pointer-events-auto">
              <app-update-project-button (labelsUpdatedEvent)="updateLabels($event)" [input]="data" [pageId]="pageId"></app-update-project-button>
            </div>
        </section>
      }
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 text-center">
      <h1 class="text-4xl md:text-6xl font-bold mb-6" id="hero-title">{{ data.title }}</h1>
      <p class="text-xl md:text-2xl mb-8" id="hero-subtitle">{{ data.subtitle }}</p>
      <p class="text-lg mb-10 max-w-3xl mx-auto" id="hero-content">{{ data.description }}</p>
      <a [routerLink]="['/home']" class="homebtn px-8 py-4 rounded-full font-semibold inline-block"
         fragment="projects">
        {{ data.budgetButtonText }}
      </a>
    </div>
  </div>
</section>
